<div>
  <h2 id="page-heading">
    <span jhiTranslate="concesionarioApp.trabajador.home.title">Trabajadors</span>
    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trabajador" [routerLink]="['/trabajador/new']">
      <fa-icon [icon]="'plus'"></fa-icon>
      <span jhiTranslate="concesionarioApp.trabajador.home.createLabel">
        Create new Trabajador
      </span>
    </button>
  </h2>
  <jhi-alert></jhi-alert>
  <br />
  <div class="table-responsive" *ngIf="trabajadors">
    <table class="table table-striped">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
          <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="dni"><span jhiTranslate="concesionarioApp.trabajador.dni">Dni</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="nombre">
            <span jhiTranslate="concesionarioApp.trabajador.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon>
          </th>
          <th jhiSortBy="apellido">
            <span jhiTranslate="concesionarioApp.trabajador.apellido">Apellido</span> <fa-icon [icon]="'sort'"></fa-icon>
          </th>
          <th jhiSortBy="cargo"><span jhiTranslate="concesionarioApp.trabajador.cargo">Cargo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="telefono">
            <span jhiTranslate="concesionarioApp.trabajador.telefono">Telefono</span> <fa-icon [icon]="'sort'"></fa-icon>
          </th>
          <th>
            <span>Contador</span><fa-icon [icon]="'sort'"></fa-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trabajador of trabajadors; trackBy: trackId">
          <td>
            <a [routerLink]="['/trabajador', trabajador.id, 'view']">{{ trabajador.id }}</a>
          </td>
          <td>{{ trabajador.dni }}</td>
          <td>{{ trabajador.nombre }}</td>
          <td>{{ trabajador.apellido }}</td>
          <td>{{ trabajador.cargo }}</td>
          <td>{{ trabajador.telefono }}</td>
          <td> {{getCounterSale}} </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" (click)="open(trabajador)">
                <fa-icon [icon]="'eye'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
              <button type="submit" (click)="update(trabajador)" class="btn btn-primary btn-sm">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/', 'trabajador', { outlets: { popup: trabajador.id + '/delete' } }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-danger btn-sm"
              >
                <fa-icon [icon]="'times'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="trabajadors && trabajadors.length">
    <div class="row justify-content-center">
      <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage(page)"
      ></ngb-pagination>
    </div>
  </div>
</div>
