<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="compraVenta">
            <h2><span jhiTranslate="concesionarioApp.compraVenta.detail.title">Compra Venta</span> {{compraVenta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="concesionarioApp.compraVenta.fechaVenta">Fecha Venta</span></dt>
                <dd>
                    <span>{{compraVenta.fechaVenta}}</span>
                </dd>
                <dt><span jhiTranslate="concesionarioApp.compraVenta.garantia">Garantia</span></dt>
                <dd>
                    <span>{{compraVenta.garantia}}</span>
                </dd>
                <dt><span jhiTranslate="concesionarioApp.compraVenta.precioTotal">Precio Total</span></dt>
                <dd>
                    <span>{{compraVenta.precioTotal}} €</span>
                </dd>
                <dt><span jhiTranslate="concesionarioApp.compraVenta.vehiculo">Vehiculo</span></dt>
                <dd>
                    <div *ngIf="compraVenta.vehiculo">
                        <a [routerLink]="['/vehiculo', compraVenta.vehiculo?.id, 'view']">{{compraVenta.vehiculo?.matricula}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="concesionarioApp.compraVenta.vendedor">Vendedor</span></dt>
                <dd>
                    <div *ngIf="compraVenta.vendedor">
                        <a [routerLink]="['/trabajador', compraVenta.vendedor?.id, 'view']">{{compraVenta.vendedor?.nombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="concesionarioApp.compraVenta.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="compraVenta.cliente">
                        <a [routerLink]="['/cliente', compraVenta.cliente?.id, 'view']">{{compraVenta.cliente?.nombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/compra-venta', compraVenta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
