<div>
    <h2 id="page-heading">
        <span jhiTranslate="concesionarioApp.compraVenta.home.title">Compra Ventas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-compra-venta" [routerLink]="['/compra-venta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="concesionarioApp.compraVenta.home.createLabel">
            Create new Compra Venta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="compraVentas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaVenta"><span jhiTranslate="concesionarioApp.compraVenta.fechaVenta">Fecha Venta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="garantia"><span jhiTranslate="concesionarioApp.compraVenta.garantia">Garantia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precioTotal"><span jhiTranslate="concesionarioApp.compraVenta.precioTotal">Precio Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vehiculo.id"><span jhiTranslate="concesionarioApp.compraVenta.vehiculo">Vehiculo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vendedor.id"><span jhiTranslate="concesionarioApp.compraVenta.vendedor">Vendedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cliente.id"><span jhiTranslate="concesionarioApp.compraVenta.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let compraVenta of compraVentas ;trackBy: trackId">
                <td><a [routerLink]="['/compra-venta', compraVenta.id, 'view' ]">{{compraVenta.nombre}}</a></td>
                <td>{{compraVenta.fechaVenta | date:'mediumDate'}}</td>
                <td>{{compraVenta.garantia}}</td>
                <td>{{compraVenta.precioTotal}} €</td>
                <td>
                    <div *ngIf="compraVenta.vehiculo">
                        <a [routerLink]="['../vehiculo', compraVenta.vehiculo?.id, 'view' ]" >{{compraVenta.vehiculo?.matricula}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="compraVenta.vendedor">
                        <a [routerLink]="['../trabajador', compraVenta.vendedor?.id, 'view' ]" >{{compraVenta.vendedor?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="compraVenta.cliente">
                        <a [routerLink]="['../cliente', compraVenta.cliente?.id, 'view' ]" >{{compraVenta.cliente?.nombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                           <button type="submit"
                                [routerLink]="['/', 'compra-venta', { outlets: { popup: compraVenta.id + '/show'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/compra-venta', compraVenta.id, 'edit']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'compra-venta', { outlets: { popup: compraVenta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="compraVentas && compraVentas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
